<div class="EKart--Header">
    <div class="EKart--Logo">
        EKart
    </div>
    <div class="EKart--Header--nav">
        <!--top menu--start-->
       <top-menu></top-menu>
       <!--top menu--end^^-->
        <div class="EKart-Bottom--Bar">
          <!--main-menu--start-->
          <main-menu></main-menu>
          <!--main-menu--end^^-->
          <div class="EKart--search--bar" style="float: right;margin-right: 2rem;">
            <form class="d-flex" role="search" style="float: inline-start;">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" style="height: 2rem;">
              <button style="background-color: rgb(166, 162, 162);padding: 0px;margin: 0px;background-size: auto;width: 5rem;" class="btn btn-outline-success" type="submit">submit</button>
            </form>
          </div>
        </div>  
    </div>
  </div>
