<div class="ekart--product--container">
  <!--<img style="width: 15rem; width: 15rem" src="{{ product.pImage }}" />
  <p>name: {{ product.name }}</p>
  <p>price: ${{ product.price }}</p>
  <p>colour: {{ product.color }}</p>
  <p>discount price: {{ GetDiscountedPrice().toFixed() }}</p>
  <p>
    {{
      product.instock > 0
        ? "only" + product.instock + "item left"
        : "not in stock"
    }}
  </p>
  <button (click)="decrementCartValue()">-</button>
  <span>{{ addToCart }}</span>
  <button (click)="incrementCartValue()">+</button>-->
  <!-- <input  (input)="onNameChange($event)"><br>
  <p>name={{name}}</p> -->
  <search></search>
  <!-- <div *ngFor="let item of listofString">
    <p>current alement of array is: {{ item }}</p>
  </div> -->
  <container></container>
</div>
